.maze {

    display: flex;
    height: 100%;
    align-items: stretch;

    &__location {
        
        flex-grow: 1;
        min-width: 50%;
        position: relative;
    
        display: flex;
    }

}