* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color:black;
    box-sizing: border-box;
    font-family: 'Electrolize', sans-serif;
}

main {
    height: 100%;
}