* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Electrolize', sans-serif;
    background-color: #111A2C;
}

main {
    height: 100%;
}